*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
     place-items: center;
     padding: 20px;
}
main h1{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}
main p{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
}