*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}



header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
main{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 30px;
}
main h1{
    width: 350px;
    font-family: sans-serif;
    font-weight: 700;
}
main p{
    width: 450px;
    font-family: sans-serif;
    font-weight: 500;
}
main .img img{
    border-radius: 10px;
}