* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.navs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1530px;
    height: 70px;
}

.wwa {
    display: flex;
    gap: 8px;
    margin-left: -200px;
}

.wwb {
    display: flex;
    gap: 10px;
    margin-left: -500px;
}

.wwb li:nth-child(2) select {
    border: none;
}

.wwb li:nth-child(2) select option {
    background: white;
    border: none;
}

.wwc {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav ul:nth-child(2) {
    display: flex;
}

@media only screen and (max-width:400px) {
    nav{
        display: flex;
    }
    .bar svg{
        height: 60px;
        width: 30px;
        margin-right: 20px;
    }
    .navs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 400px;
    }

    .wwa {
        display: flex;
        gap: 8px;
        margin-left: -200px;
    }

    .wwb {
        display: none;
        gap: 0px;
        margin-left: 0px;
    }
    .wwc {
        display: none;
        gap: 0px;
    }

    .nav ul:nth-child(2) {
        display: none;
    }
}